html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('lsbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#generating-deck-container {
    background-image: url('pbbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-bar {
    height: 30px;
    background-color: #4CAF50;
    width: 0;
}
